
.CustomPercent {
    width: 145px; 
    height: 48px; 
    margin: 16px 0 0 0; 
    padding: 0 20px 0 0; 
    border: none; 
    border-radius: 5px; 
    background-color: #F3F9FA; 
    border: solid 2px #F3F9FA; 
    text-align: right; 
    font-family: 'Space Mono', monospace;
    font-size: 24px; 
    font-weight: 700; 
    color: #547878;
}


.CustomPercent:focus {
    border: none; 
    outline : none; 
}
.CustomPercent:focus::placeholder {
    color: transparent; 
}


.CustomPercent.active{
    border: 2px solid #26C2AE;
}


/* desktop style */
@media screen and (min-width: 1440px){

    .CustomPercent {
        width: 115px; 
        text-align: center; 
        padding: 0; 
    }

    .CustomPercent.active{
        width: 115px; 
    }

}   