
.CustomPercent {
    width: 145px; 
    height: 48px; 
    margin: 16px 0 0 0; 
    padding: 0 20px 0 0; 
    border: none; 
    border-radius: 5px; 
    background-color: #F3F9FA; 

    text-align: right; 
    font-family: 'Space Mono', monospace;
    font-size: 24px; 
    font-weight: 700; 
    color: #547878;
}

.CustomPercent.active{
    background-color: #26C2AE; 
    color: #00474B; 
}