
.Input {
    height: 48px; 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    padding: 6px 18px; 
    background-color: #F3F9FA; 
    border-radius: 5px; 
    margin: 6px 0 0 0; 
}

.inputElement{
    width: 100%; 
    border: none; 
    appearance: none; 
    background-color: transparent; 
    font-family: 'Space Mono', monospace;
    text-align: right; 
    font-size: 24px; 
    font-weight: 700; 
    color: #00474B; 
}

/*  to remove the arrow selection of the numbers */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.inputElement:focus{
    outline: none; 
}