.ResultBox {
    display: flex; 
    flex-direction: column; 
    width: 100%; 
    margin: 32px 0 0 0; 
    padding: 0 24px 24px 24px; 
    background-color: #00474B; 
    border-radius: 15px; 
}

/* desktop style */
@media screen and (min-width: 1440px){
    .ResultBox {
        height: 100%; 
        max-width: 410px; 
        padding: 0 40px 40px 40px; 
        margin: 0; 
        justify-content: space-between; 
    }
}